/* base.css */

/* Font Face & Global Resets */
@font-face {
    font-family: 'Carson';
    src: url('font/carson-wvrx.woff2') format('woff2'),
    url('font/carson-wvrx.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body {
    scroll-behavior: smooth;
    font-family: "Open Sans", sans-serif !important;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Particles.js background */
#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #000 0%, #202020 100%);
    z-index: -1;
}
